@font-face {
  font-family: 'Vazir';
  src: url('/assets/fonts/vazir/Vazir.eot') format('eot');
  src: url('/assets/fonts/vazir/Vazir.ttf') format('truetype'),
       url('/assets/fonts/vazir/Vazir.woff') format('woff'),
       url('/assets/fonts/vazir/Vazir.woff2') format('woff2');
}

@font-face {
  font-family: 'VazirFD';
  src: url('/assets/fonts/vazir/Farsi-Digits/Vazir-FD.eot') format('eot');
  src: url('/assets/fonts/vazir/Farsi-Digits/Vazir-FD.ttf') format('truetype'),
       url('/assets/fonts/vazir/Farsi-Digits/Vazir-FD.woff') format('woff'),
       url('/assets/fonts/vazir/Farsi-Digits/Vazir-FD.woff2') format('woff2');
}

body {
  font-family: VazirFD;
  direction: rtl;
}

.form-control__input-label {
  direction: rtl;
  right: 0;
  transform-origin: top right !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}